In [1]:
# Load all dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats
import statsmodels.formula.api as sm
%matplotlib inline

In [2]:
greenhouseEmission = pd.read_csv('/Users/larsboesch/Desktop/FS22/DataScience/project/datascience/original_data/greenhouseGasEmission.csv')

In [3]:
df = pd.read_csv('/Users/larsboesch/Desktop/FS22/DataScience/project/datascience/workspace/regression/co2_pm25_deathrates_category.csv')

In [6]:
new_df = pd.merge(greenhouseEmission, df,  how='right', left_on=['country','year'], right_on = ['country','year'])

In [7]:
new_df

,iso_code,country,year,co2_x,co2_per_capita_x,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,primary_energy_consumption,energy_per_capita,energy_per_gdp,Unnamed: 0,co2_y,co2_per_capita_y,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),category
0,NaN,Africa,1990,659.295,1.052,-203.224,22.801,0.036,295.760,0.472,...,2607.463,4136.532,NaN,0,659.295,1.052,46.719096,169060,26.820034,Africa
1,NaN,Africa,1991,689.026,1.068,-213.043,24.426,0.038,306.508,0.475,...,2605.202,4024.448,NaN,1,689.026,1.068,46.530559,173284,26.768455,Africa
2,NaN,Africa,1992,668.677,1.010,-183.457,24.904,0.038,288.587,0.436,...,2649.322,3986.869,NaN,2,668.677,1.010,46.342022,177903,26.771976,Africa
3,NaN,Africa,1993,708.858,1.043,-208.188,24.609,0.036,318.855,0.469,...,2659.103,3899.727,NaN,3,708.858,1.043,46.153485,183152,26.860278,Africa
4,NaN,Africa,1994,719.623,1.029,-215.113,25.111,0.036,330.702,0.473,...,2737.463,3913.764,NaN,4,719.623,1.029,45.964949,188664,26.973370,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,NaN,North America,2013,6714.924,12.106,373.621,67.187,0.121,1877.114,3.384,...,31587.686,89782.636,NaN,107,6714.924,12.106,8.641443,70771,12.666808,North America
108,NaN,North America,2014,6753.943,12.063,342.734,71.263,0.127,1867.900,3.336,...,31884.279,89950.684,NaN,108,6753.943,12.063,8.142226,68018,12.062615,North America
109,NaN,North America,2015,6612.704,11.704,326.738,73.071,0.129,1635.664,2.895,...,31619.735,88562.994,NaN,109,6612.704,11.704,7.973350,66704,11.724851,North America
110,NaN,North America,2016,6471.360,11.353,309.904,70.858,0.124,1509.631,2.648,...,31594.441,87878.289,NaN,110,6471.360,11.353,7.321048,64353,11.214949,North America
111,NaN,North America,2017,6412.982,11.155,335.009,72.914,0.127,1467.602,2.553,...,31759.844,87748.432,NaN,111,6412.982,11.155,7.311075,62260,10.760773,North America

In [10]:
new_df.to_csv('additional_co2.csv')

In [11]:
new_df.drop(['iso_code', 'co2_x', 'co2_per_capita_x', 'total_ghg', 'ghg_per_capita', 'total_ghg_excluding_lucf', 'ghg_excluding_lucf_per_capita', 'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita', 'population', 'gdp', 'primary_energy_consumption', 'energy_per_capita', 'energy_per_gdp', 'Unnamed: 0', 'co2_y', 'co2_per_capita_y'], axis=1)

,country,year,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,flaring_co2_per_capita,gas_co2,...,share_global_cumulative_cement_co2,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),category
0,Africa,1990,-203.224,22.801,0.036,295.760,0.472,20.795,0.033,75.954,...,3.48,1.91,16.08,0.86,1.92,NaN,46.719096,169060,26.820034,Africa
1,Africa,1991,-213.043,24.426,0.038,306.508,0.475,20.799,0.032,78.466,...,3.53,1.94,15.81,0.92,1.94,NaN,46.530559,173284,26.768455,Africa
2,Africa,1992,-183.457,24.904,0.038,288.587,0.436,23.351,0.035,74.273,...,3.57,1.97,15.65,0.96,1.97,NaN,46.342022,177903,26.771976,Africa
3,Africa,1993,-208.188,24.609,0.036,318.855,0.469,21.790,0.032,81.722,...,3.61,2.00,15.48,1.01,2.00,NaN,46.153485,183152,26.860278,Africa
4,Africa,1994,-215.113,25.111,0.036,330.702,0.473,21.797,0.031,85.588,...,3.63,2.03,15.32,1.05,2.02,NaN,45.964949,188664,26.973370,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,North America,2013,373.621,67.187,0.121,1877.114,3.384,73.976,0.133,1820.091,...,10.92,25.77,19.08,38.97,33.77,17.43,8.641443,70771,12.666808,North America
108,North America,2014,342.734,71.263,0.127,1867.900,3.336,82.657,0.148,1851.455,...,10.65,25.48,19.14,38.61,33.56,17.18,8.142226,68018,12.062615,North America
109,North America,2015,326.738,73.071,0.129,1635.664,2.895,89.526,0.158,1899.522,...,10.42,25.19,19.26,38.26,33.35,16.94,7.973350,66704,11.724851,North America
110,North America,2016,309.904,70.858,0.124,1509.631,2.648,80.851,0.142,1901.034,...,10.20,24.90,19.30,37.91,33.15,16.69,7.321048,64353,11.214949,North America
111,North America,2017,335.009,72.914,0.127,1467.602,2.553,75.800,0.132,1874.524,...,9.99,24.61,19.26,37.54,32.94,16.44,7.311075,62260,10.760773,North America

In [12]:
new_df

,iso_code,country,year,co2_x,co2_per_capita_x,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,primary_energy_consumption,energy_per_capita,energy_per_gdp,Unnamed: 0,co2_y,co2_per_capita_y,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),category
0,NaN,Africa,1990,659.295,1.052,-203.224,22.801,0.036,295.760,0.472,...,2607.463,4136.532,NaN,0,659.295,1.052,46.719096,169060,26.820034,Africa
1,NaN,Africa,1991,689.026,1.068,-213.043,24.426,0.038,306.508,0.475,...,2605.202,4024.448,NaN,1,689.026,1.068,46.530559,173284,26.768455,Africa
2,NaN,Africa,1992,668.677,1.010,-183.457,24.904,0.038,288.587,0.436,...,2649.322,3986.869,NaN,2,668.677,1.010,46.342022,177903,26.771976,Africa
3,NaN,Africa,1993,708.858,1.043,-208.188,24.609,0.036,318.855,0.469,...,2659.103,3899.727,NaN,3,708.858,1.043,46.153485,183152,26.860278,Africa
4,NaN,Africa,1994,719.623,1.029,-215.113,25.111,0.036,330.702,0.473,...,2737.463,3913.764,NaN,4,719.623,1.029,45.964949,188664,26.973370,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,NaN,North America,2013,6714.924,12.106,373.621,67.187,0.121,1877.114,3.384,...,31587.686,89782.636,NaN,107,6714.924,12.106,8.641443,70771,12.666808,North America
108,NaN,North America,2014,6753.943,12.063,342.734,71.263,0.127,1867.900,3.336,...,31884.279,89950.684,NaN,108,6753.943,12.063,8.142226,68018,12.062615,North America
109,NaN,North America,2015,6612.704,11.704,326.738,73.071,0.129,1635.664,2.895,...,31619.735,88562.994,NaN,109,6612.704,11.704,7.973350,66704,11.724851,North America
110,NaN,North America,2016,6471.360,11.353,309.904,70.858,0.124,1509.631,2.648,...,31594.441,87878.289,NaN,110,6471.360,11.353,7.321048,64353,11.214949,North America
111,NaN,North America,2017,6412.982,11.155,335.009,72.914,0.127,1467.602,2.553,...,31759.844,87748.432,NaN,111,6412.982,11.155,7.311075,62260,10.760773,North America

In [13]:
new_df.to_csv('additional_co2.csv')