In [1]:
# Load all dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as stats
import statsmodels.formula.api as sm
%matplotlib inline

In [6]:
data = pd.read_csv('/Users/larsboesch/Desktop/FS22/DataScience/project/datascience/workspace/regression/co2_pm25_deathrates_cleaned.csv')

In [12]:
data.drop(['Unnamed: 0'], axis=1)

,country,year,co2,co2_per_capita,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)",Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),rate Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)
0,Africa,1990,659.295,1.052,46.719096,169060,26.820034
1,Africa,1991,689.026,1.068,46.530559,173284,26.768455
2,Africa,1992,668.677,1.010,46.342022,177903,26.771976
3,Africa,1993,708.858,1.043,46.153485,183152,26.860278
4,Africa,1994,719.623,1.029,45.964949,188664,26.973370
...,...,...,...,...,...,...,...
107,North America,2013,6714.924,12.106,8.641443,70771,12.666808
108,North America,2014,6753.943,12.063,8.142226,68018,12.062615
109,North America,2015,6612.704,11.704,7.973350,66704,11.724851
110,North America,2016,6471.360,11.353,7.321048,64353,11.214949
111,North America,2017,6412.982,11.155,7.311075,62260,10.760773